extends layout.pug
block append scripts
	script(src="/public/js/editschedule.js")
block content
	div.padding#editschedule(theater_id=theater._id, hall_id=hall._id, week=week)
		h1= "Edit screening schedule for " + theater.name + " " + hall.name
		div.formRow
			label Change hall:
			select#hallSelect
				each h in halls
					if hall._id.equals(h._id)
						option(value=h._id selected)= h.name
					else
						option(value=h._id)= h.name
		div#scheduleOptions
		div.hideable.tableSection.popUp
			h2.hidebutton List of screenings
			div#scheduleListContainer.hidecontent.tableContainer
					div.confirmContainer
					table#scheduleList
						tr
							th.small Date
							th.small Time
							th.shrink Movie
							th.medium Resorvations
							th.small
							th.small
		a(href="/admin/editschedule/editscreening/theater/" + theater._id + "/hall/" + hall._id) Create new screening
		div.hideable.tableSection.popUp
			h2.hidebutton Timetable
			div#scheduleTableContainer.hidecontent.tableContainer
				table#scheduleTable
					tr
						th.tiny
						th Monday
						th Tuesday
						th Wednesday
						th Thursday
						th Friday
						th Saturday
						th Sunday
					tr.content
						td.tiny
							div(type="time")
						td
							div(type="day" day="1")
						td
							div(type="day" day="2")
						td
							div(type="day" day="3")
						td
							div(type="day" day="4")
						td
							div(type="day" day="5")
						td
							div(type="day" day="6")
						td
							div(type="day" day="0")