//basic layout
html
	head
		title SpartaKino
		block stylesheets
			link(type="text/css" rel="stylesheet" href="/public/style/css/main_style.css")
		block scripts
			script(src='/public/js/jquery.js')
			script(src='/public/js/common.js')
	body
		div#maincontainer
			block header
				header
					div#logo
						a(href="/")
							h1 SpartaKino
					div#links
						if user != undefined && user != null
							div#otherlinks
								if user.type === "admin"
									a(href="/admin")
										li.link Admin controls
								a(href="/user")
									li.link Own reservations
							div#loginlinks
								a(href="/logout")
									li.link Log out
						else
							div#otherlinks
							div#loginlinks
								a(href="/login")
									li.link Log in
								a(href="/register")
									li.link Create an account
					

			div#content
				div#contentContainer
					block content