//basic layout
html
	head
		title SpartaKino
		link(rel="icon" href="/public/img/icon.jpg")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		block stylesheets
			link(type="text/css" rel="stylesheet" href="/public/style/css/main_style.css")
		block scripts
			script(src='/public/js/jquery.js')
			script(src='/public/js/common.js')
			script(src='/public/js/moment.js')
	body
		div#maincontainer
			block header
				header
					div#logo
						a(href="/")
							h1 SpartaKino
					div#links
						if user != undefined && user != null
							div#otherlinks
								if user.type === "admin"
									li.link(onclick="redirect('/admin')") Admin controls
									li.link(onclick="redirect('/user')") Own reservations
							div#loginlinks
								a(href="/logout")
									li.link Log out
						else
							div#otherlinks
							div#loginlinks
								a(href="/login")
									li.link Log in
								a(href="/register")
									li.link Create an account
					

			div#content
				div#contentContainer
					block content