//basic layout
html
	head
		title SpartaKino
		link(type="text/css" rel="stylesheet" href="/public/style/css/main_style.css")
		block scripts
			script(src='/public/js/jquery.js')
	body
		block header
			header
				div#logo
					a(href="/")
						h1 SpartaKino
				div#links
					ul
						if user != undefined && user != null
							if user.type === "admin"
								a(href="/admin")
									li Admin controls
							a(href="/user")
								li Own reservations
							a(href="/logout")
								li Log out
							div#infomessage= 'Logged in as ' + user.username
						else
							a(href="/login")
								li Log in
							a(href="/register")
								li Create an account
				

		div#content
			block content
		block footer
			div Created with Node.js and Express.js