extends layout.pug
block append scripts
	script(src='/public/js/movies.js')
block append content
	div#movies
		div#search Search:
			div#searchContent
				input#title(type="text",placeholder="Title")
				select#theater
					option(value="turku") Turku
					option(value="turku") Helsinki
			button.button#updateButton Update list
		div#results Results:
		div#movieContent Content:
