extends layout.pug
block append scripts
	script(src='/public/js/movies.js')
block append content
	div#movies
		div#search= "Search: "
			input#title(type="text",placeholder="Title")
			button.button#updateButton Update list
		div#results.backgroundContent Loading...
