extends layout.pug

block content
	div.padding
		h1 Create a new account
		p.error= error
		P Register as an SpartaKino user.
		form(method="post" action="?")
			div.formblock
				div.formrow
					label Email Address:
					input(name="user[email]" type="email" required)
			div.formblock
				div.formrow
					label Password:
					input(name="user[password]" type="password" required)
				div.formrow
					label Confirm password:
					input(name="user[passwordre]" type="password" required)
			input(type="submit")
			