extends layout.pug

block content
	div.padding#user
		h1= user.email
		if user.address
			ul
				li= 'Street address: ' + user.address.street
				li= 'City: ' + user.address.city
				li= 'Postal code: ' + user.address.postcode