body {
  font-family: georgia;
  background-color: #78140C;
  color: white;
  font-size: 16px;
  margin: 0px; }

body :visited {
  color: white; }

header {
  height: 70px;
  font-size: 120%;
  background-color: #246068; }
  header div#logo {
    width: 200px;
    float: left; }
    header div#logo h1 {
      margin: 12px; }
  header div#links {
    width: calc(100% - 200px);
    float: right; }
    header div#links ul {
      margin: 10px;
      margin-left: 40px; }
      header div#links ul li {
        display: inline-block;
        padding: 10px;
        margin: 5px; }
      header div#links ul li:hover {
        background-color: #8BA9AE; }
      header div#links ul div#infomessage {
        float: right;
        display: inline-block; }

div#content div#movies {
  margin: 10px; }

/* Hall edit */
div.he_container table.he_map {
  border-spacing: 0px;
  border-collapse: collapse; }
  div.he_container table.he_map td {
    width: 15px;
    height: 15px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    background-color: #eee;
    margin: 0px;
    padding: 0px;
    display: inline-block; }
  div.he_container table.he_map tr:nth-child(even) td:nth-child(even) {
    background-color: #eaeaea; }
  div.he_container table.he_map tr:nth-child(odd) td:nth-child(odd) {
    background-color: #eaeaea; }

div.he_container svg.chair rect {
  stroke-width: 1;
  stroke: black;
  fill: #aa2222; }
