@import url("https://fonts.googleapis.com/css?family=Bitter|Cabin|Droid+Serif|Merriweather+Sans|Noto+Serif|Poppins");
@font-face {
  font-family: curvyFont;
  src: url(/public/fonts/Angeline_Vintage.ttf); }

@font-face {
  font-family: greekFont;
  src: url(/public/fonts/Ravenia.ttf); }

@font-face {
  font-family: isisFont;
  src: url(/public/fonts/ohmightyisis.ttf); }

input, select, button {
  font-size: 15px;
  padding: 5px;
  margin: 2px; }

button, input[type="submit"] {
  padding-left: 20px;
  padding-right: 20px; }

h1, h2, h3, h4, h5, h6 {
  font-family: bitter;
  margin: 0px;
  padding: 10px; }

form div.formRow {
  margin: 5px; }
  form div.formRow label {
    vertical-align: middle;
    display: inline-block;
    min-width: 120px; }
  form div.formRow input, form div.formRow textarea {
    vertical-align: middle; }

a {
  color: black;
  text-decoration: none; }

.hideable .hidebutton {
  cursor: pointer;
  background-color: #246068;
  padding: 5px;
  color: white; }

body {
  font-family: 'Poppins', arial;
  font-size: 16px;
  margin: 0px;
  background-color: #8BA9AE;
  height: 100%; }

div#maincontainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 50px;
  height: 100%; }

header :visited {
  color: white;
  text-decoration: none; }

header {
  height: 70px;
  margin: 0px;
  font-size: 120%;
  background-color: #246068;
  color: white; }
  header a {
    color: white;
    text-decoration: none; }
  header div#logo {
    height: 100%;
    width: 220px;
    float: left; }
    header div#logo h1 {
      margin: 10px;
      padding: 0px;
      font-family: isisFont;
      font-size: 55px;
      text-decoration: none; }
  header div#links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 220px);
    float: right;
    padding: 0px;
    height: 100%; }
    header div#links li.link {
      display: inline-block;
      padding: 10px;
      margin: 10px;
      margin-top: 15px; }
    header div#links li.link:hover {
      background-color: #8BA9AE; }
    header div#links div#otherlinks {
      flex-shrink: 1;
      height: 100%; }
    header div#links div#loginlinks {
      flex-shrink: 0;
      background-color: #4D8087;
      height: 100%; }

div#content {
  background-color: white;
  color: black;
  height: calc(100% - 70px);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  margin: 0px; }
  div#content div.padding {
    margin: 35px; }
  div#content div#movies div#search {
    padding: 20px; }
  div#content div#movies div#results div.movie {
    text-decoration: none;
    padding: 15px;
    background-color: #EEE; }
    div#content div#movies div#results div.movie h2 {
      margin: 5px; }
  div#content div#movies div#results a.movielink:nth-child(2n) div.movie {
    background-color: #FFF; }
  div#content div#admin div.tableSection {
    margin: 20px;
    background-color: #8BA9AE; }
    div#content div#admin div.tableSection table tr:hover {
      background-color: #4D8087; }
  div#content div#editmovie div#cropContainer img#cropImage {
    max-height: 500px;
    width: 100%; }
  div#content div#editmovie div#cropPreview {
    width: 182px;
    height: 268px;
    overflow: hidden; }
  div#content div#edittheater div.hall div.editor {
    overflow-x: auto;
    padding: 20px;
    background-color: #00262B;
    display: none;
    color: white; }
    div#content div#edittheater div.hall div.editor div.editorwrap {
      width: 1000px; }
    div#content div#edittheater div.hall div.editor svg {
      background-color: #111; }
      div#content div#edittheater div.hall div.editor svg svg.box {
        cursor: pointer; }
        div#content div#edittheater div.hall div.editor svg svg.box rect.boxrect {
          stroke: #444;
          fill: transparent; }
        div#content div#edittheater div.hall div.editor svg svg.box rect.boxrect:hover {
          fill: rgba(255, 255, 255, 0.3); }
    div#content div#edittheater div.hall div.editor div.options {
      display: inline-block;
      vertical-align: top; }
      div#content div#edittheater div.hall div.editor div.options div.svgelementChooser {
        display: inline-block;
        vertical-align: top; }
        div#content div#edittheater div.hall div.editor div.options div.svgelementChooser div {
          border: 1px solid #777;
          background-color: #222;
          padding: 3px;
          width: 40px;
          height: 40px;
          cursor: pointer; }
          div#content div#edittheater div.hall div.editor div.options div.svgelementChooser div img {
            overflow: visible;
            width: 100%;
            height: 100%; }
        div#content div#edittheater div.hall div.editor div.options div.svgelementChooser div.rotate {
          width: 30px;
          height: 30px;
          float: right; }
        div#content div#edittheater div.hall div.editor div.options div.svgelementChooser div[current="true"] {
          background-color: #8BA9AE; }
      div#content div#edittheater div.hall div.editor div.options div.svgSizeEditor {
        display: inline-block;
        vertical-align: top; }
